h1 {
    color: lightcoral; 
    font-size: 30px;
    text-align: center;
}
p{
    color: gray; font-size: 20px;
    text-align: center;
}
a {
    color: turquoise; font-size: 20px;
}
.grid{
    border: 2px solid gray;
    border-radius: 50px
}
.origami{
    border-radius: 20px;
    background-color: whitesmoke;
    width: 310px;
    font-family:'Franklin Gothic Medium';
    text-align: center;
}